/* add css module styles here (optional) */
._1qMnI {
  background-color: blue;
  font-size: 72px;
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  text-align: center;
}

._OLPLO {
  background-color: red;
  font-size: 45px;
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  text-align: center;
}